<br>
<% if @products %>
  <% @products.each do |product| %>
    <p><%= link_to product.name, product.path, method: :get %></p>
  <% end %>
<% end %>
<br>
 <%= link_to 'オーダーされた商品を見る', orders_path, method: :get %>
 <br>
 <%= link_to '完了済みオーダーを見る', done_orders_path, method: :get %>
<br> 
 <%= link_to 'データベースに商品を追加する', new_product_path, method: :get %>
<br>

<div id='app'>
 {{message}}
 </div>
